<p class="message"><%= message %></p>
<p class="hello"><b>Enter Email:</b></p>
<form action="/forgot-password" method="post">
	<div>
  		<label>Email:</label>
  		<input type="text" name="email" /><br/>
	</div>
	<div>
	  <input type="submit" value="Submit" />
	</div>
</form>
