<p class="hello"><b>To reset your password, please enter details below:</b></p>
<form action="/reset-password" method="post">
	<input name="user_id" type="hidden" value="<%= user_id %>" />
	<input name="token" type="hidden" value="<%= token %>" />
	<div>
  		<label>Email:</label>
  		<input type="text" name="email" /><br/>
	</div>
	<div>
  		<label>New Password:</label>
  		<input type="password" name="password" />
	</div>
	<div>
		<label>Re-Type New Password:</label>
		<input type="password" name="passwordverification" />
	</div>
	<div>
	  <input type="submit" value="Submit" />
	</div>
</form>
